* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}
ul, li {
	list-style: none;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.container {
	width: 100%;
	min-width: 1000px;
}
.hidden {
	display: none;
}

/* header css */
.header {
	width: 100%;
}
.logo {
	width: 15%;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}
.logo img {
	width: 100%;
	height: 100px;
}
.login-register-box {
	width: 15%;
	height: 30px;
	float: right;
	margin-top: 20px;
}
.login-register-box a:hover {
	text-decoration: underline;
	cursor: pointer;
}
.search-box {
	width: 300px;
	height: 50px;
	margin-top: 20px;
	margin-right: 20px;
	float: right;
}
.search-input {
	width: 249px;
	height: 48px;
	display: block;
	float: left;
	border: 1px solid #ccc;
	border-right: none;
	outline: none;
}
.search-submit {
	width: 50px;
	height: 50px;
	display: block;
	float: left;
	border: none;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ccc;
	border-left: none;
	outline: none;
}
.navigation-bar {
	width: 100%;
	margin-top: 20px;
	background-color: #003366;
}
.navigation-poll, .navigation-nomination, .navigation-state, .navigation-history {
	width: 10%;
	height: 50px;
	float: left;
	cursor: pointer;
	position: relative;
	color: #fff;
}
.navigation-poll span, .navigation-nomination span, .navigation-state span, .navigation-history span {
	display: block;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
}
.navigation-poll span:hover, .navigation-nomination span:hover, .navigation-state span:hover, .navigation-history span:hover {
	font-weight: bold;
	color: #ff9933;
}
.poll-list, .nomination-list, .history-list {
	position: absolute;
	top: 50px;
	left: 0;
	width: 200px;
	z-index: 999;
	padding: 10px;
	background-color: #003366;
	display: none;
}
.poll {
	height: 30px;
	line-height: 30px;
}
.poll a {
	display: block;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
}
.poll:hover, .poll a:hover {
	font-weight: bold;
	color: #ff9933;
}
.state-list {
	position: absolute;
	top: 50px;
	left: 0;
	width: 600px;
	z-index: 999;
	padding: 10px;
	background-color: #003366;
	display: none;
}
.state-list li {
	width: 25%;
	height: 30px;
	line-height: 30px;
	float: left;
}
.state-list li a {
	width: 100%;
	color: #fff;
	text-decoration: none;
	display: block;
}
.state-list li a:hover, .state-list li:hover {
	font-weight: bold;
	color: #ff9933;
}

/* Full-width input fields */
.userinput{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.loginbtn, .registerbtn {
	background-color: #4CAF50;
	color: white;
	padding: 5px 5px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width:auto;
}
.loginregbtn {
	background-color: #003366;
	color: white;
	padding: 5px 5px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width:auto;
}
button:hover {
	opacity: 0.8;
}
/* Extra styles for the cancel button */
.cancelbtn {
	width: auto;
	float: right;
	padding: 5px 5px;
	background-color: #f44336;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}

/* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

.logincontainer {
	padding: 16px;
}

span.psw {
	width: auto;
	display: block;
	float: right;
}

span.cacc{
	width: auto;
	display: block;
	float: left;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}

/* main content css */
.main {
	width: 100%;
}

.footer {
	width: 100%;
}
