/* main content css */
.selection {
    width: 15%;
    margin: 20px auto;
    border: 2px solid #003366;
    border-radius: 5px;
}
.selection-button {
    width: 50%;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    float: left;
    text-align: center;
}
.active, .selection-button:hover {
    color: #ff9933;
    background-color: #003366;
}
.final-result-container {
    width: 100%;
}
.final-result-container h2 {
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    color: #003366;
}
.final-result-container h4 {
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    color: #003366;
}
.left-container, .right-container {
    width: 50%;
    height: 600px;
    padding: 20px 0;
    float: left;
    background-color: #003366;
}
.middle-container {
    width: 100%;
    padding: 20px 0;
    background-color: #ff9933;
}
.map-container {
    width: 960px;
    height: 500px;
    padding: 10px 0;
    margin: 0 auto;
}
.bar-container {
    width: 500px;
    margin: 0 auto;
}
.pie-container {
    padding: 10px 0;
}
h3 {
    font-size: 24px;
    color: #ff9933;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
}
.title {
    width: 500px;
    margin: 0 auto;
    border-bottom: 1px solid #ff9933;
    color: #ff9933;
}
.candidate, .proportion {
    float: left;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
}
.candidate {
    width: 115px;
}
.proportion {
    width: 385px;
}
